h1 { /* Titulos principales */
  font: 800 40px Arial ;
  -webkit-text-fill-color: aquamarine;
  -webkit-text-stroke: 1px;
  color: rgb(15, 82, 71)
}

h2 { /* Titulos secundarios*/
  font-size: 26px;
}

body {
  background-color:#04aa46ad;
}

.poopoo{
  background-color: rgb(0, 6, 44);
}

.peepee {
  font: 800 40px Arial ;
  -webkit-text-fill-color: aquamarine;
  -webkit-text-stroke: 1px;
  color: rgb(15, 82, 71)
}

.Contain0{
  background-color: rgba(102, 237, 249, 0.703);
   padding: 10px;
   width: 98%;
   border-radius: 12px;
   text-align: center;
  }


ul{ /* Sacarle los puntos del enlistado */
  list-style-type: none;
}

li{ /* espacio entre botones*/
  padding: 2px;
}

.Contain1 {
  text-align: center;
  background-color: rgba(102, 237, 249, 0.703);
  border-radius: 8px;
  border-color: rgba(122, 198, 255, 0.573);
  border-style: solid;
}

.button {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  width: 20%;
  }

  .button1 {
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    }

a.button:hover{
  background-color: #01613e;
  border: none;
  color: rgba(255, 255, 255, 0.833);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  width: 20%;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.Titulo {
  width: 85%;
  text-align: right;
  margin-right:30px;
  font: 800 60px Arial ;
  -webkit-text-fill-color: aquamarine;
  -webkit-text-stroke: 1px;
  color: rgb(15, 82, 71)

}

.dropdown {
  position: relative;
  margin-top: 13px;
  width: 15%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cafbff;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-right-radius: 5px ;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color:#4e4eff38 ;
  border-style: solid;
}

.dropdown-content a {
  background-color: #04AA6D;
  color: white;
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.Container0{
display: flex;
width: 100%;

}

.drop {
  background-color: #04AA6D;
  color: white;
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 75%;
  border-radius: 5px;
  }

a.drop:hover{
  background-color: #01613e;
  border: none;
  color: rgba(255, 255, 255, 0.833);
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 75%;
  border-radius: 5px;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 33, 200, 0.664);
  color: white;
  text-align: center;
}

.pie1 {
  left: 0;
  bottom: 0;
  width: 30%;
  background-color: rgba(0, 33, 200, 0.664);
  color: white;
  text-align: center;
}

.pie2 {
  left: 0;
  bottom: 0;
  width: 40%;
  background-color: rgba(0, 33, 200, 0.664);
  color: white;
  text-align: center;
}

.pie3 {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 30%;
  background-color: rgba(0, 33, 200, 0.664);
  color: white;
  text-align: center;
}

.pie3 a {
  color: inherit;
  text-decoration: none;
  
}

.pie3 a:hover {
  text-decoration: underline;
}

.text{
  font-size: 13px;
  padding: 12px;
  margin-left: 5px;
  align-items: center;
  height: 50%;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
  resize: none;
}

.enviar{
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 15%;
  border-radius: 5px; 
  height: 25%; 
  margin-top: 6%;
  text-align:center;
}

a.enviar:hover{
  background-color: #01613e;
  border: none;
  color: rgba(255, 255, 255, 0.833);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 15%;
  width: 15%;
  border-radius: 5px; 
  height: 25%; 
  margin-top: 6%;
  text-align:center;
}
