h1 { /* Titulos principales */
  font: 800 40px Arial ;
  -webkit-text-fill-color: aquamarine;
  -webkit-text-stroke: 1px;
  color: #0f5247;
  margin-left: 10px;
}

h2 { /* Titulos secundarios*/
  font-size: 26px;
}

body {
  background-color: rgb(0, 6, 44);
}

.Botones{
  background-color: rgba(102, 237, 249, 0.703);
   padding: 10px;
   width: 98%;
   border-radius: 12px;
   text-align: center;
}

.Contain0 {
  display: flex;
  text-align: center;
  margin-top: 10px;
 }

.Contain1 {
  text-align: center;
  width: 100%;
  background-color: rgb(186, 255, 252);
  border-radius: 12px;
  padding: 10px;
  width: 100%;
 }

 .button {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
  }

a.button:hover{
  background-color: #01613e;
  border: none;
  color: rgba(255, 255, 255, 0.833);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
}

.Medida {
  padding: 10px;
}
.Unidad{
  padding: 10px
}

.Conversion {
  padding: 10px;
}