:root {
  --main-color:#2B74FA;
  --s1-Col:#ececec;
  --s2-Col:#9fd3c7; 
  --s3-Col:#385170; 
  --s4-Col:#142d4c; 
}

h1 { /* Titulos principales */
  font: 800 40px Verdana ;
  color: var(--main-color);
}


h2 { /* Titulos secundarios*/
  font-size: 26px;
}

body {
  background-color:var(--s1-Col);
}

img {
max-width: 150px;
max-height: 100px;
}

.Titulo {
  width: 100%;
  text-align: right;
  margin-right:17%;

}

.dropbtn {
  background-color: var(--s4-Col);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  margin-top: 13px;
  width: 15%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--s1-Col);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-right-radius: 5px ;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content a {
  background-color: var(--s4-Col);;
  color: white;
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--s3-Col);
}

.drop {
  background-color: #04AA6D;
  color: white;
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 75%;
  border-radius: 5px;
  }

a.drop:hover{
  background-color: var(--s3-Col);
  border: none;
  color: rgba(255, 255, 255, 0.833);
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 75%;
  border-radius: 5px;
}

.text{
  font-size: 13px;
  padding: 12px;
  margin-left: 5px;
  align-items: center;
  height: 50%;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
  resize: none;
}

.Container0{
  display: flex;
  width: 100%;
  
  }
  

.enviar{
  background-color: var(--s2-Col);
  color: var(--s4-Col);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 15%;
  border-radius: 5px; 
  height: 25%; 
  margin-top: 6%;
  text-align:center;
}

a.enviar:hover{
  background-color: #01613e;
  color: rgba(255, 255, 255, 0.833);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  width: 15%;
  width: 15%;
  border-radius: 5px; 
  height: 25%; 
  margin-top: 6%;
  text-align:center;
}

.Botones{
  background-color: var(--main-color);
   padding: 10px;
   width: 98%;
   border-radius: 12px;
   text-align: center;
}

.Contain0 {
  display: flex;
  text-align: center;
  margin-top: 10px;
 }

.Contain1 {
  text-align: center;
  width: 100%;
  background-color: var(--s2-Col);
  border-radius: 12px;
  padding: 10px;
  width: 100%;
 }

 .button {
  background-color: var(--s4-Col);
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
  }

a.button:hover{
  background-color: var(--s3-Col);
  border: none;
  color: rgba(255, 255, 255, 0.833);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
}

.Medida {
  padding: 10px;
}
.Unidad{
  padding: 10px
}

.Conversion {
  padding: 10px;
}

.fuente {
  font: 100 14px  Verdana ;
}

.fuentebold{
  font: 800 14px Verdana ;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 33, 200, 0.664);
  color: white;
  text-align: center;
}

.pie1 {
  left: 0;
  bottom: 0;
  width: 30%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
}

.pie2 {
  left: 0;
  bottom: 0;
  width: 40%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
}

.pie3 {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 30%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
}

.pie3 a {
  color: inherit;
  text-decoration: none;
  
}

.pie3 a:hover {
  text-decoration: underline;
}